go 1.18

use (
	// chapter1
	./chapter1/bytestrings
	./chapter1/interfaces
	./chapter1/filedirs
	./chapter1/csvformat
	./chapter1/tempfiles
	./chapter1/templates
	// chapter2
	./chapter2/flags
	./chapter2/cmdargs
	./chapter2/envvar
	./chapter2/confformat
	./chapter2/pipes
)
